@font-face {
    font-family: tlouMainFont;
    src: url("src/assets/Font/Press-Gothic/Press Gothic W01 Regular/Press Gothic W01 Regular.ttf");
}

@font-face {
    font-family: tlousecondfont;
    src: url("src/assets/Font/headliner-no-45/HeadlinerNo.45 DEMO.ttf");
}

/* Image Background */

/* body{
    
    background-image: url("/assets/1065466.jpg");
} */


/* tabs */

.mytabs{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    width: 50%;
    padding: 25px;
    background-color: black;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 200px;
}

.mytabs input[type="radio"] {
    display: none;
}

.characterHeading{
    margin-left: 50px;
}

.mytabs label{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin: 0;
    background-color: black;
    font-family: tlousecondfont;
    font-size: 2rem;
    transition: 0.5s;
    
}
.mytabs label:hover{
    background-color: white;
}

.mytabs .tab{
    width: 100%;
    padding: 20px;
    background: black;
    color: white;
    order: 1;
    display: none;
    /* padding-bottom: 200px; */
}

.mytabs .tab h2{
    font-size: 10em;
}

.mytabs input[type='radio']:checked + label + .tab{
    display: block; 
}

.mytabs input[type='radio']:checked + label{
    background-color: black; 
    color: white;
}
/* End of Tabs */


/*Game Details */
li{
    list-style-type: none;
}
h1{
    font-family: tlousecondfont;
    letter-spacing: 5px;
    /* font-size: 10px; */
}
h3,h4,h5,h6{
    font-family: tlousecondfont;
    letter-spacing: 5px;
    /* font-size: 10px; */
}

.summary{
    width: 500px;
}

h3{
    font-size: 5rem;
}
.gameDetails{
    position: relative;
    /* float: right; */
    /* margin-right: 800px; */
}




/* Character details */
.character{
    position: relative;
    font-size: 12px;
    /* floa t: right; */
    left: 0px;
    /* margin-right: 400px; */
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 15px;
}

.characterDetails p{
    font-size: 12px;

}

 h4{
    font-size: 3rem;
}

@media screen and (max-width:800px){

    .characterHeading{
        margin-left: 0px;
    }

    .summary{
        width: 100%;
    }

    .mytabs{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0%;
        width: 100%;
        padding: 0px;
        background-color: black;
        margin-top: 10%;
        /* padding-top: 5%; */
        border-radius: 10px;
        /* margin-bottom: 200px; */
    }
    
    .mytabs input[type="radio"] {
        display: none;
    }
    
    .mytabs label{
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        margin: 0;
        background-color: black;
        font-family: tlouMainFont;
        font-size: 2rem;
        transition: 0.5s;
        
    }
    .mytabs label:hover{
        background-color: white;
    }
    
    .mytabs .tab{
        width: 100%;
        padding: 20px;
        background: black;
        color: white;
        order: 1;
        display: none;
        padding-bottom: 200px;
    }
    
    .mytabs .tab h2{
        font-size: 2em;
    }

    .poster{
        height: 150px;
        width: 120px;
    }

    li{
        list-style-type: none;
    }
    h1{
        font-family: tlousecondfont;
        letter-spacing: 2px;
        font-size: 2em;
    }
    h3,h4,h5,h6{
        font-family: tlousecondfont;
        letter-spacing: 2px;
        font-size: 1em;
    }
    p{
        font-size: 10px;
    }
    
    h3{
        font-size: 5rem;
    }
    .gameDetails{
        position: relative;
        float:none;
        margin-right: 0px;
    }
    
    
    /* Character details */
    .character{
        position: relative;
        font-size: 5px;
        /* floa t: right; */
        left: 0px;
        /* margin-right: 400px; */
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        grid-gap: 15px;
    }
    .headshots{
        height: 100px;
        width: 80px;
    }
    
    .characterDetails p{
        font-size: 6px;
    
    }
    
     h4{
        font-size: 1rem;
    }
    
    
}