<body>
    <section class="media">
    
        <div class="mytabs">
            <input type="radio" id="tabfree" name="mytabs" checked="checked">
            <label for="tabfree">The Last of Us</label>
    
            <div class="tab">
                <h4>The Last of Us Crew</h4>
                <br>
                <br>
                <br>
    
                <div *ngIf="crew" id="list">
                    <div *ngIf="Publisher">
                        <div *ngFor="let pub of Publisher">
                            <h5>Publisher</h5>
                            <p>{{pub.crewMember}}</p>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="developer">
                        <h5>Developer</h5>
                        <div *ngFor="let dev of developer">
                            <p>{{dev.crewMember}}</p>
                        </div>
    
                    </div>
                    <br>
                    <div *ngIf="director">
                        <h5>Director</h5>
                        <div *ngFor="let dir of director">
                            <p>{{dir.crewMember}}</p>
                        </div>
    
                    </div>
                    <br>
                    <div *ngIf="gameDesigner">
                        <h5>Game Designer</h5>
                        <div *ngFor="let gd of gameDesigner">
                            <p>{{gd.crewMember}}</p>
                        </div>
    
                    </div>
                    <br>
                    <div *ngIf="writer">
                        <h5>Writer</h5>
                        <div *ngFor="let w of writer">
                            <!-- <img src="{{w.profile.fields.file.url}}" alt="" height="50" width="40"> -->
                            <p>{{w.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="composer">
                        <h5>Composer</h5>
                        <div *ngFor="let comp of composer">
                            <p>{{comp.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="casting">
                        <h5>Casting</h5>
                        <div *ngFor="let cast of casting">
                            <p>{{cast.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="filmEditing">
                        <h5>Film Editing</h5>
                        <div *ngFor="let fe of filmEditing">
                            <p>{{fe.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="artDirection">
                        <h5>Art Direction</h5>
                        <div *ngFor="let ad of artDirection">
                            <p>{{ad.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
    
    
                    <br>
                    <div *ngIf="makeup">
                        <h5>Makeup</h5>
                        <div *ngFor="let m of makeup">
                            <p>{{m.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="gameDesigner">
                        <h5>Game Designer</h5>
                        <div *ngFor="let gd of gameDesigner">
                            <p>{{gd.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="voiceDirector">
                        <h5>Voice Director</h5>
                        <div *ngFor="let vd of voiceDirector">
                            <p>{{vd.crewMember}}</p>
                        </div>
    
                    </div>
                    <br>
    
                    <div *ngIf="artDepartment">
                        <h5>Art Department</h5>
                        <div *ngFor="let adep of artDepartment">
                            <p>{{adep.crewMember}}</p>
                        </div>
    
                    </div>
    
                    <br>
                    <div *ngIf="soundDepartment">
                        <h5>Sound Department</h5>
                        <div *ngFor="let sd of soundDepartment">
                            <p>{{sd.crewMember}}</p>
                        </div>
    
                    </div>
    
    
                </div>
    
    
            </div>
    
    
    
            <input type="radio" id="tabsilver" name="mytabs">
            <label for="tabsilver">The Last of Us: Part II</label>
    
            <div class="tab">
                <p>monkey do </p>
            </div>
    
    
    
        </div>
    </section>
    
</body>