@font-face {
    font-family: tlouMainFont;
    src: url("src/assets/Font/Press-Gothic/Press Gothic W01 Regular/Press Gothic W01 Regular.ttf");
}


/* Navbar */
.navbar{
    position: relative;
    width: 100vw;
    background-color:black;
    /* margin-top: 100px; */
    z-index: 1;
}

img{
    width: 300px;
    height: 80px;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(240, 240, 240);
    padding-right: 40px;
    padding-left: 40px;
    /* padding: 20px; */
    font-size: 40px;
}

.navbar-light .navbar-nav .nav-item{
    font-family: tlouMainFont;
    /* padding: 2px; */
}

.navbar-light .navbar-nav .nav-item:hover{
    background-color:white;
    border-radius: 100px;
    /* padding: 2px; */
}

.navbar-light .navbar-nav .nav-link:hover{
    color: black;
}

.navbar .navbar-toggler{
    background-color: white;
}

.navbar .navbar-toggler-icon{
    color: black;
}
/* Navbar */


@media screen and (max-width:800px){

    .navbar{
        position: relative;
        width: 100%;
        background-color:black;
        /* margin-top: 100px; */
        z-index: 1;
    }
    img{
        width: 160px;
        height: 50px;
    }

}