<body>
 
    <div class="homecontent">
        <h4>STORE</h4>
    
        <div *ngIf="product">
            <div *ngFor="let prod of product">
    
                <img class="poster" src="{{prod.product.fields.file.url}}" alt="" height="180" width="150">
               
                <a href="{{prod.link}}" target="_blank" style="padding-left: 20px;">Buy now (Available now on Playstation Store)</a>
                <br>
                <br>
                
    
            </div>
            <br>
    
        </div>
    </div>
    
</body>