/* Fonts */
@font-face {
    font-family: tlouMainFont;
    src: url("src/assets/Font/Press-Gothic/Press Gothic W01 Regular/Press Gothic W01 Regular.ttf");
}

@font-face {
    font-family: tlousecondfont;
    src: url("src/assets/Font/headliner-no-45/HeadlinerNo.45 DEMO.ttf");
}

/* Tabs */
.media .mytabs{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 1500px;
    padding: 25px;
    background-color: black;
    margin-top: 5%;
    border-radius: 10px;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin: 0;
    background-color: black;
    font-family: tlouMainFont;
    font-size: 2rem;
    transition: 0.5s;
    
}
.mytabs label:hover{
    background-color: white;
}

.mytabs .tab{
    width: 100%;
    padding: 20px;
    background: black;
    color: white;
    order: 1;
    display: none;
    /* padding-bottom: 200px; */
}

.mytabs .tab h2{
    font-size: 10em;
}

.mytabs input[type='radio']:checked + label + .tab{
    display: block; 
}

.mytabs input[type='radio']:checked + label{
    background-color: black; 
    color: white;
}
/* Tabs */

/* Content */

li{
    list-style-type: none;
}
h1,h3,h4,h5{
    font-family: tlousecondfont;
    letter-spacing: 5px;
}

h3{
    font-size: 5rem;
}
.gameDetails{
    position: relative;
    float: right;
    margin-right: 350px;
}

.photos{
    position: relative;
    font-size: 12px;
    /* floa t: right; */
    left: 0px;
    /* margin-right: 400px; */
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 15px;
}

.image{
    filter: grayscale(100%);
    transition: 0.5s;
}
.image:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}


/* LIGHTBOX STYLE*/

#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    display: none;

}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}