<section class="home">
    <img src="assets/1065467.png" alt="">
    <div class="section">
       <video class="moviebackground" [muted]="'muted'" autoplay loop>
        <source src="assets/The Last of Us Part 2 - Official Story Trailer.mp4">
       </video>

    </div>

    <div class="homecontent">
        <h1>Welcome</h1>
        <p>I'm pleased to welcome you to official The Last of Us website.
            <br>On this website you will find the information you need to know about the <br>
            franchise.
        </p>
    </div>
</section>